.container
  .row.main
    .col-lg-3.offset-lg-1.col-md-10.offset-md-1.exchange_box
      .row
        .col-md-8.offset-md-2.text-sm-center
          = image_tag '/logo.png', class: 'img-fluid'
      .row
        = render 'exchange_box'
    .col-lg-7.offset-lg-1.hidden-sm-down.title-box
      .row
        %h1.title Conversor de moedas gratuito.
      .row
        %h2.subtitle E sempre será!
